<div class="row">
    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Categorie</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantite</th>
            <th scope="col">TotalProduit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let produit of produits'>
            <td>
              <div class="card">
                <div class="card text-white bg-primary o-hidden h-100 my-2">
                  <img class="card-img-top"  style="width:150px" src="assets/images/pizza-celeri.jpg" alt="Card image of produit.nom">
                  <div class="card-body">
                    <h5 class="card-title">{{produit.nom}}</h5>
                    <p class="card-text">{{produit.description}}.</p>
                  </div>
                  <button class="btn btn-success" (click)="delete(produit)">Supprimer</button>
                </div>
              </div>
            </td>
            <td>{{produit.categorie.titre}}</td>
            <td>{{produit.prix}}</td>
            <td><input type="number" min="0" [(ngModel)]="produit.quantite" (input)="updatePanier()"/></td>
            <td>{{produit.prix * produit.quantite}}</td>
          </tr>
          <tr style="text-align: right">
            <td colspan="4">Total de votre panier</td>
            <td> {{prixTotal}}</td>
          </tr>
        </tbody>
      </table>

</div>
